/**
 * Import any npm dependencies in this file
 * see commented examples below
 */

// @import "some-node-module";
// @import "@some-company/some-node-module";
@use "sass:meta";
@use "./variables" as v;

/* Cascade order */
@layer reset, bootstrap, base, layout, components, pages, utilities;

/* Layer Bootstrap + FontAwesome */
@layer bootstrap {
  $primary: v.$color-accent;
  $secondary: v.$color-dark;
  $body-bg: v.$color-body-bg;
  $body-color: v.$color-text;
  $font-family-sans-serif: v.$font-family-sans-serif;
  $border-radius-lg: v.$radius-lg;
  $border-radius: v.$radius-md;

  @import "~bootstrap/scss/bootstrap";
  @import "~@fortawesome/fontawesome-free/css/all.min.css";
}
