/**
 * Import any npm dependencies in this file
 * see commented examples below
 */

// @import "some-node-module";
// @import "@some-company/some-node-module";

@import "tailwindcss/index.css";
@import "@fortawesome/fontawesome-free/css/all.css";

@theme {
  --font-sans: "Montserrat", system-ui, -apple-system, blinkmacsystemfont,
    "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif;

  --font-serif: "Playfair Display", "Georgia", "Times New Roman", serif;

  --color-accent: hwb(20deg 15% 20%);
  --color-dark: #2b1a14;
  --color-text: #322318;
  --color-body-bg: hwb(0deg 92% 8% / 52.7%);
  --color-border-subtle: rgb(0 0 0 / 6%);

  --shadow-soft: 0 0.75rem 2rem rgb(0 0 0 / 12%);
}

